textarea{
  resize: none;
}

.hide{
  display:none;
}

.txt{
  color: grey;
  font-size: 15px;
}

.birthday{
  background-color: white;
  padding-top:80px;
  padding-left:80px;
  height:500px;
  width: 800px;
  background-image: url("../../images/birthday-template.jpg");

}

.wedding{
  background-color: white;
  padding-top:210px;
  padding-left:120px;
  height:500px;
  width: 800px;
  background-image: url("../../images/wedding-template.jpg");

}
.blue{
  color: blue;
}

.template-div{
  background-size: contain;
  background-repeat: no-repeat;
  position:relative;
}

.Roboto{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.Ubuntu{
  font-family: 'Ubuntu', sans-serif;
}

.Cursive{
  font-family: 'Dancing Script', cursive;
}
