.head{
  font-weight: bold;
  font-size: 30px;
}

.thick{
  font-weight: bold;
}

.Roboto{
  font-family: 'Roboto', sans-serif;
}

.Ubuntu{
  font-family: 'Ubuntu', sans-serif;
}

.Cursive{
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}
