table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

body{
  font-family: sans-serif;
}


.field{
    font-size: 14px;
    padding: 5px;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

.field:focus{
  border: 3px solid #555;
}

.btn {
    background-color: #035aa6;
    color : #FFFFFF;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.5s;
}

.btn:hover{
  background-color: #303960;
  color: #FFFFFF;
}

.outline {
  text-align:center;
  width:200px;
  display: table;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.5s;
}

.outline.red{
    border: 2px solid red;
    color: red;
}

.outline.red:hover{
  background-color: red;
  color: white;
}

.outline:hover{
  background-color: #444444;
  color: white;
}
