.slider{
  width: 50%;
  padding-top: 10px;
  padding-left: 10px;
  height: 400px;
  margin-top: -10px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #eee;
  transition: all 0.4s ease-in-out;
}

.hide {
  height: 0;
}

.content{
  cursor: pointer;
  /* background: #FFFFFF; */
  width: 100%;
  padding: 3px;
  display: block;
  margin-bottom: 10px;
}
.outline{
  width: 50%;
}
